In [15]:
from sdv.datasets.local import load_csvs
from sdv.metadata import SingleTableMetadata

In [16]:
data = load_csvs(
    folder_name="../datasets/diamonds/",
    read_csv_parameters={
        'skipinitialspace': True,
        'encoding': 'utf-8'
    }
)

dataset = data['diamonds']

dataset

C:\Users\marco\AppData\Local\Programs\Python\Python311\Lib\site-packages\sdv\datasets\local.py:36: UserWarning: Ignoring incompatible files ['README.md'] in folder '../datasets/diamonds/'.
  warnings.warn(

      carat        cut color clarity  depth  table  price     x     y     z
0      1.10      Ideal     H     SI2   62.0   55.0   4733  6.61  6.65  4.11
1      1.29      Ideal     H     SI1   62.6   56.0   6424  6.96  6.93  4.35
2      1.20    Premium     I     SI1   61.1   58.0   5510  6.88  6.80  4.18
3      1.50      Ideal     F     SI1   60.9   56.0   8770  7.43  7.36  4.50
4      0.90  Very Good     F     VS2   61.7   57.0   4493  6.17  6.21  3.82
...     ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
4995   0.38      Ideal     H    VVS2   62.3   53.3    832  4.65  4.69  2.91
4996   0.33    Premium     G    VVS2   61.3   59.0    927  4.45  4.42  2.72
4997   1.25      Ideal     J    VVS2   62.1   56.0   5980  6.81  6.84  4.24
4998   0.31    Premium     F     VS2   62.9   58.0    802  4.31  4.27  2.70
4999   0.30      Ideal     H    VVS1   61.2   57.0    655  4.30  4.39  2.66

[5000 rows x 10 columns]

In [17]:
metadata = SingleTableMetadata()
metadata.detect_from_dataframe(dataset)

metadata.to_dict()

{'METADATA_SPEC_VERSION': 'SINGLE_TABLE_V1',
 'columns': {'carat': {'sdtype': 'numerical'},
  'cut': {'sdtype': 'categorical'},
  'color': {'sdtype': 'categorical'},
  'clarity': {'sdtype': 'categorical'},
  'depth': {'sdtype': 'numerical'},
  'table': {'sdtype': 'numerical'},
  'price': {'sdtype': 'numerical'},
  'x': {'sdtype': 'numerical'},
  'y': {'sdtype': 'numerical'},
  'z': {'sdtype': 'numerical'}}}

In [18]:
metadata.validate()
metadata.validate_data(data=dataset)

In [19]:
from sdv.single_table import GaussianCopulaSynthesizer

synth = GaussianCopulaSynthesizer(metadata=metadata)
synth.fit(dataset)
synth_data = synth.sample(num_rows=100)

synth_data

C:\Users\marco\AppData\Local\Programs\Python\Python311\Lib\site-packages\sdv\single_table\base.py:81: UserWarning: We strongly recommend saving the metadata using 'save_to_json' for replicability in future SDV versions.
  warnings.warn(

    carat        cut color clarity  depth  table  price     x     y     z
0    1.32      Ideal     F     SI1   61.4   57.1   6922  6.84  6.85  4.23
1    0.82      Ideal     G     VS1   62.1   54.0   6357  6.16  6.16  3.80
2    0.52  Very Good     F     SI2   63.2   56.2    516  5.04  4.98  3.16
3    0.33      Ideal     H     VS2   60.7   57.7    539  4.68  4.66  2.79
4    0.66       Good     J     SI2   61.0   61.9   3396  5.72  5.72  3.51
..    ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
95   0.44    Premium     J    VVS2   63.3   57.4   1201  4.58  4.57  2.94
96   0.78      Ideal     G     SI1   63.7   54.8   2978  5.51  5.52  3.53
97   0.49    Premium     F     VS1   60.8   55.5   2070  5.30  5.18  3.14
98   0.53      Ideal     E     VS2   62.6   55.7   2071  5.11  5.11  3.17
99   0.87    Premium     E    VVS2   62.6   56.6   4408  5.89  5.86  3.58

[100 rows x 10 columns]

In [20]:
synth_data.to_csv("synth_diamonds.csv", index=False)